/* style tab buttons */

.tab-button{
    border-width: 0px;
    background-color: transparent;
    font: inherit;
    font-size: 18px;

    /* text-decoration: underline; */
}

.tab-button.project-button{
    color: grey;
}

.tab-button:hover{
    text-decoration: underline;
}